<a href="https://colab.research.google.com/github/RYOTA2528/-Start-3-3/blob/main/%5BDAY7%5DMatplotlib_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
file_path = '/content/drive/MyDrive/pandas-dataset/dataset/dataset/sales_transactions.xlsx'

In [7]:
df = pd.read_excel(file_path, index_col=0)

In [8]:
df

,ymd,transaction_id,SKU,transaction_type,payment,details,revenue,quantity,product_name
0,2020-01-07,250-0042069-0262213,60,0,1,4,-314,NaN,21
1,2020-01-07,250-0042069-0262213,60,0,1,8,-499,NaN,21
2,2020-01-07,250-0042069-0262213,60,0,1,10,-693,NaN,21
3,2020-01-07,250-0042069-0262213,60,0,4,0,5727,1.0,21
4,2020-01-07,250-0042069-0262213,60,0,2,2,29,NaN,21
...,...,...,...,...,...,...,...,...,...
609,2019-11-20,503-0100465-6209437,2,0,3,14,-373,NaN,60
610,2019-11-20,503-0100465-6209437,2,0,4,0,682,1.0,60
611,2019-11-20,503-0100465-6209437,2,0,2,9,68,NaN,60
612,2019-11-20,503-0100465-6209437,2,0,2,12,37,NaN,60
613,2019-11-20,503-0100465-6209437,2,0,2,14,373,NaN,60

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 597 entries, 0 to 613
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ymd               597 non-null    datetime64[ns]
 1   transaction_id    597 non-null    object
 2   SKU               597 non-null    int64
 3   transaction_type  597 non-null    int64
 4   payment           597 non-null    int64
 5   details           597 non-null    int64
 6   revenue           597 non-null    int64
 7   quantity          144 non-null    float64
 8   product_name      597 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(1)
memory usage: 46.6+ KB

In [10]:
df['ymd'] = df['ymd'].astype(str)

In [12]:
df.dtypes

ymd                  object
transaction_id       object
SKU                   int64
transaction_type      int64
payment               int64
details               int64
revenue               int64
quantity            float64
product_name          int64
dtype: object

In [14]:
# to_datetime関数でまたdatetime型に戻す練習
df['ymd'] = pd.to_datetime(df['ymd'])

In [17]:
df.dtypes

ymd                 datetime64[ns]
transaction_id              object
SKU                          int64
transaction_type             int64
payment                      int64
details                      int64
revenue                      int64
quantity                   float64
product_name                 int64
dtype: object